:root {
    --mostaza: #F2CD27;
    --verde-oscuro: #123F26;
    --amarillo-claro: #FFFDD8;
    --header-bg: rgba(255, 253, 216, 0.2);
    --verde-fosfo: #C9FF87;
    --beige: #FCF7ED;
    --verde-claro: #9FC76E;
    --cafe-oscuro: #373027;
    --verde-intermedio: #2E7549;
    --verde-footer: #013A2C;
    --verde-gris: #F9FCED;
    --verde-oliva: #3A752E;
    --verde-oliva-claro: #749C67;
    --naranja: #F27A33;
    --cafe-transparency:rgb(130,99,72,0.2);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: var(--amarillo-claro);
    height: 100%;
}

button{
    font-family: "Poppins", sans-serif;
}

/* Header Styling */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    padding: 20px 30px;
    background-color: var(--header-bg);
    box-shadow: 0px 2px 5px rgba(4, 57, 44, 0.1);
    position: relative; 
    z-index: 10; 
}

/* Logo Styling */
.logo img {
    height: 20px;
}

/* Navigation Styling */
.navigation {
    display: flex;
    gap: 20px;
}

.navigation a {
    text-decoration: none;
    font-size: 16px;
    color: var(--verde-oscuro);
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: var(--mostaza); 
}

.log-in button {
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px;
    color: var(--verde-oscuro);
    background-color: var(--mostaza);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.log-in button:hover {
    background-color: gold;
}

/* Forms Section */
.forms {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; 
    justify-content: center;
    background-color: var(--verde-claro);
    overflow: hidden;
  }

  .form img{
    height: 70px;
  }

  .form {
    position: absolute;
    top:18%;
    box-sizing: border-box; 
    max-width: 600px;
    width: 100%;
    padding: 80px;
    border-radius: 20px;
    background: var(--beige);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 0; /* Base z-index */
    opacity: 0;
    transform: translateY(20px);
  }

  .forms .form.login {
    z-index: 2;
    display: block;
    opacity: 1;
    transform: translateY(0);
  }

  .form.signup {
    opacity: 0;
    pointer-events: none;
  }

  .header-form{
    text-align: center;
    margin-bottom: 60px;
  }

  .forms.show-signup .form.login {
    display: none;
    z-index: 0;
    transform: translateY(20px);
    opacity: 0;
    pointer-events: none;
  }

  .forms.show-signup .form.signup {
    display: block;
    z-index: 2;
    opacity: 1;
    transform: translateY(0);
  }

  .header-form p,h2{
    margin:0;
  }

  h2 {
    font-size: 28px;
    font-weight: 600;
    margin-top: 20px;
    color: var(--cafe-oscuro);
  }

  form {
    margin-top: 30px;
  }

  .form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
  }

  .field input,
  .field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
  }

  .field input {
    width: 100%;
    padding: 12px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: rgba(84, 74, 61, 0.3); 
    box-sizing: border-box; 
  }

  .field input:focus {
    border-bottom-width: 2px;
  }
  .eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
  }
  .field button {
    color: #fff;
    background-color: var(--verde-intermedio);
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .field button:hover {
    background-color: var(--verde-oscuro);
  }
  .form-link {
    text-align: center;
    margin-top: 10px;
  }

  .form-link span,
  .form-link a {
    font-size: 14px;
    font-weight: 400;
    color: #232836;
  }
  .form a {
    color: var(--cafe-oscuro);
    text-decoration: none;
  }
  .form-content a:hover {
    text-decoration: underline;
  }

  
